.navbar .navbar-form {
  display: none;
}

@media (min-width: 992px) {
  .navbar .navbar-form {
    display: table;
  }
  .navbar .input-group .large {
    width: 280px;
  }
  .navbar .input-group input {
    height: 40px;
    font-size: 14px;
  }
  .navbar .input-group button {
    height: 40px;
  }
  .navbar .input-group button i {
    color: #e67e22;
    font-size: 22px;
  }
 }
