.nome {
  font-size: 26px;
  margin-top: 250px;
  color: gray;
  font-weight: 300;
}

.seguindo, .seguidores {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
}

.menu-lateral {
  margin-top: 60px;
  border-right: solid 1px #e67e22;
}

.menu-lateral ul {
  list-style-type: none;
}

.menu-lateral a {
  color: gray;
  font-size: 18px;
}

.menu-lateral li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu-lateral .ui-state-active >a {
  color: #e67e22;
}

.menu-lateral .ui-state-active >a:focus, .menu-lateral li {
  outline: none;
}

.conteudo-admin {
  margin-top: 260px;
  padding-left: 30px;
}

.conteudo-admin label {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  width: 100px;
}

.conteudo-admin input, .conteudo-admin textarea {
  margin-left: 15px;
  border: solid #ebebeb 2px;
}

.conteudo-admin input {
  width: 270px;
  height: 28px;
}

.conteudo-admin textarea {
  width: 400px;
}

.box-formulario {
  margin-bottom: 25px;
}
