/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* RESET */
body {
  margin: 0;
}

/******************************
 HEADER
 ******************************/

/****** NAVBAR ******/

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-toggle {
  border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #e67e22;
  color: white;
}

.navbar-default {
  padding: 20px 50px;
  background-color: black;
  border-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #bdc3c7;
}

.navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav .open .dropdown-menu>li>a:visited {
  color: #bdc3c7;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover  {
  color: white;
  background-color: #e67e22;
}

.premium-button a {
  background-color: #2ecc71;
  margin: 5px;
  color: #ecf0f1 !important;
}

.premium-button a:hover {
  background-color: #2ecc71 !important;
  margin: 5px;
  color: white !important;
}

.badge-icon {
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 9px;
  background-color: #e67e22;
  padding: 3px 5px;
}

nav .logo img {
  width: 180px;
}

.bg-image{
  height: 500px;
  overflow: hidden;
  z-index: -10;
  position: absolute;
  top: 92px;
}

.bg-image img {
  min-height: 500px;
  width: 200%;
}

.hero-text {
  text-align: center;
  margin-top: 160px
}

.hero-text h2 {
  color: #ecf0f1;
}

.hero-text p {
  color: #bdc3c7;
  font-size: 16px;
}

.hero-sub {
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 15px;
}

.input-group {
  width: 80%;
  margin: auto;
}

.input-group input {
  height: 50px;
  font-size: 16px;
}

.hero-text button {
  height: 50px;
}

.hero-text button i {
  color: #e67e22;
  font-size: 22px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bg-image img {
    width: 100%;
    height: auto;
    min-height: 500px;
  }
  .navbar-default {
    background-color: rgba(0,0,0,0);
  }
  .bg-image {
    top: 0;
  }
  .hero-sub {
    width: 400px;
  }
  .input-group {
    width: 380px;
  }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }
