

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

label {
  display: block;
  color: gray;
  font-size: 16px;
}

.upload-form div {
  padding-top: 20px;
}

.upload-form input, .upload-form textarea, .upload-form select {
  width: 100%;
  border: solid orange 3px;
  font-size: 16px;
  padding: 5px;
}

.upload-form input, .upload-form select {
  height: 30px;
}

.upload-form input::placeholder, .upload-form textarea::placeholder  {
  color: #acacac;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .upload-form {
    margin: auto;
    border: solid 3px orange;
    padding: 20px;
    margin-top: 20px;
  }
  label {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin-right: 10px;
  }
  .upload-form input, .upload-form textarea, .upload-form select {
    width: 70%;
  }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .upload-form input, .upload-form textarea, .upload-form select {
    width: 55%;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
      .upload-form {
        width: 70%;
      }
      .upload-form input, .upload-form textarea, .upload-form select {
        width: 50%;
      }
 }
