/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.navbar .navbar-form {
  display: none;
}
.header-height {
  height: 442px;
}
.bg-image {
  height: 350px;
}
.bg-image img {
  min-height: 350px;
}
.hero-text {
  margin-top: 150px;
}
.btn-upload img {
  width: 280px;
}
.texto-botao {
  color: white;
  margin-top: -45px;
  font-size: 26px;
}
.texto-pergunta{
  margin-top: 35px;
  font-size: 32px;
  color: white;
}
.motivo1, .motivo2 {
  overflow: hidden;
  margin-bottom: -20px;
}
.motivo1 img {
  width: 140%;
  margin-left: -10%;
}
.motivo2 img {
  width: 130%;
  float: right;
}
.bg-student {
  background: url("img/tornar_wise/bg3.png");
  background-size: 130% 200px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
  width: 100%;
  margin-top: 0;
  text-align: center;
}
.bg-student h3 {
  color: white;
  padding-top: 40px;
  font-size: 4.5vw;
  text-align: center;
  margin: auto;
  width: 90%;
  line-height: 6vw;
  margin-bottom: 20px;
}
.features img {
  max-width: 40%;
  margin: auto;
  margin-bottom: 10px;
}
.features h3 {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
}
.features p {
  font-size: 18px;
  font-weight: 200;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bg-image {
    top: 92px;
  }
  .texto-pergunta{
    margin-top: 50px;
  }
  .motivo1, .motivo2 {
  margin-bottom: -80px;
  }
  .motivo1 img {
    width: 63%;
    margin-left: -5%;
  }
  .motivo2 img {
    width: 63%;
  }
  .bg-student {
    background-size: 130% 350px;
    height: 350px;
    margin-top: 100px;
  }
  .bg-student h3 {
    padding-top: 90px;
    font-size: 4vw;
    width: 80%;
    line-height: 5vw;
    margin-bottom: 60px;
  }
  .features {
    padding: 40px;
  }
  .features .col-sm-4 {
    padding: 0 2vw;
  }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar .navbar-form {
    display: table;
  }
  .navbar .input-group .large {
    width: 280px;
  }
  .navbar .input-group input {
    height: 40px;
    font-size: 14px;
  }

  .navbar .input-group button {
    height: 40px;
  }
  .navbar .input-group button i {
    color: #e67e22;
    font-size: 22px;
  }
  .bg-student {
    background-size: 100% 350px;
  }
  .bg-student h3 {
    padding-top: 100px;
    font-size: 2.6vw;
    width: 50%;
    line-height: 3vw;
  }
  .features .col-sm-4 {
    padding: 0 4vw;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
