.orange-box {
  border: orange solid 2px;
  border-top: none;
  margin: auto;
  padding-top: 40px;
  margin-top: 40px;
}

.tornar-premium {
  text-align: center;
  margin-top: 100px;
}

.titulo-pagina {
  font-weight: 300;
}
.borda-direita-laranja {
  border-right: solid 1px orange;
}

.titulo {
  font-size: 28px;
}

.titulo-margin-top {
  margin-top: 80px;
}

.preco {
  margin-top: 50px;
  font-weight: 400;
  font-size: 36px;
}

.descricao {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-gray {
  background-color: #ecf0f1;
  color: gray;
}

.btn-green {
  background-color: #2ecc71;
  color: white;
}

.x-btn {
  font-size: 26px;
  width: 150px;
  padding: 3px 5px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 3px;
}

.feature {
  background-color: #ecf0f1;
  padding: 5px 30px;
  height: 380px;
  margin-bottom: 30px;
  border: solid 1px #f0f4f5;
}
.feature h3 {
  font-weight: 400;
}
.feature .descricao {
  color: gray;
  font-size: 20px;
  font-weight: 200;
}

.porque-premium {
  margin-top: 80px;
  margin-bottom: 50px;
  font-weight: 400;
}
.duvidas-frequentes p {
  font-size: 20px;
  font-weight: 300;
  color: gray;
}
.duvidas-frequentes b {
  color: #555555;
  font-weight: 500;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .orange-box {
    width: 75%;
  }
  .titulo-margin-top {
    margin-top: 0;
  }
  .descricao {
    margin-bottom: 80px;
  }
  .super-margin {
    margin-left: 70px;
    margin-right: 70px;
  }
  .duvidas-frequentes {
    margin-top: 80px;
  }
  .duvidas-frequentes {
    margin-left: 150px;
  }
}
