/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* RESET */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
}
a:focus {
  outline: none;
}

/* GENERAL */

.inline {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.align-top {
  vertical-align: top;
}

/******************************
 HEADER
 ******************************/

/****** NAVBAR ******/

.header-height {
  height: 592px;
}

.logo h1 {
  margin-top: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-toggle {
  border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: rgba(0,0,0,0);
  color: white;
}

.navbar-default {
  padding: 20px 50px;
  background-color: black;
  border-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #bdc3c7;
  font-weight: 200;
}

.navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav .open .dropdown-menu>li>a:visited {
  color: #bdc3c7;
  font-weight: 200;
}

.navbar-default .navbar-nav>li>a:hover  {
  color: white;
  background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: white;
  background-color: #e67e22;
}

.premium-button a {
  background-color: #2ecc71;
  margin: 5px;
  color: #ecf0f1 !important;
}

.premium-button a:hover {
  background-color: #2ecc71 !important;
  margin: 5px;
  color: white !important;
}

.badge-icon {
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 9px;
  background-color: #e67e22;
  padding: 3px 5px;
}

nav .logo img {
  width: 180px;
}

/****** HERO HEADER ******/

.bg-image{
  height: 500px;
  overflow: hidden;
  z-index: -10;
  position: absolute;
  top: 92px;
}

.bg-image img {
  min-height: 500px;
  width: 250%;
}

.hero-text {
  text-align: center;
  margin-top: 160px
}

.hero-text h2 {
  color: #ecf0f1;
}

.hero-text p {
  color: #bdc3c7;
  font-size: 16px;
}

.hero-sub {
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 15px;
}

.hero-sub p {
  font-weight: 100;
}

.hero-text .input-group {
  width: 80%;
  margin: auto;
}

.hero-text .input-group input {
  height: 50px;
  font-size: 16px;
}

.hero-text .input-group button {
  height: 50px;
}

.hero-text .input-group button i {
  color: #e67e22;
  font-size: 22px;
}

/******************************
BODY
 ******************************/

/****** CATEGORIAS ******/

.categorias h3 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.show-mobile select {
  width: 100%;
  height: 30px;
}

.show-desktop {
  display: none;
}

/****** CURSOS ******/

.cursos {
  margin: auto;
  margin-top: 40px;
}

.cursos h5 {
  color: #32d6ce;
  margin-bottom: 3px;
  font-weight: 600;
}

.cursos p {
  font-size: 11px;
  margin-bottom: -2px;
}

.curso {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.cursos img, .cursos h5 {
  width: 100%;
}

.curso {
  margin-bottom: 20px;
}

.font-small {
  font-size: 10px;
  margin-right: 15px;
}

.font-small i {
  font-size: 14px;
  margin-right: 4px;
}

/******************************
MODAL
 ******************************/

 /****** TOPO ******/

.modal-body h2 {
  font-size:18px;
  color: red;
}

.modal-body .estatisticas {
  display: inline-block;
  float: right;
}

.modal-body .estatisticas i {
  margin-left: 10px;
  font-size: 14px;
}

.modal-body .unidade {
  margin-top: 30px;
}

.modal-body .info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-dialog .video-img {
  width: 100%;
}

.modal-dialog .usuario {
  margin-bottom: 10px;
}

.modal-dialog .comentario {
  font-size: 12px;
  margin-bottom: 10px;
}

.modal-dialog .comentario .texto {
  padding: 5px;
  border: solid 2px rgba(170, 170, 170, 0.4);
}

#guias .lista-categorias {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 0;
}

#guias .lista-categorias li {
  padding-left: 10px;
  border-left: solid 1px rgba(170, 170, 170, 0.4);
  list-style-type: none;
}

#guias .lista-categorias li a {
  color: black;
}

#guias .lista-categorias li:hover {
  border-left: solid red 2px;
}

#guias .lista-categorias .ui-state-active {
  border-left: solid red 2px;
}
#guias .lista-categorias .ui-state-active>a {
  color: red;
  font-weight: 600;
}
#guias .lista-categorias li:hover>a {
  color: red;
  text-decoration: none;
}
#guias .lista-categorias li:checked>a, .lista-categorias li:active>a, .lista-categorias li:default >a {
  text-decoration: none;
}

.aula {
  margin-left: 20px;
  position: relative;
}

.checked {
  position: absolute;
  left: -20px;
  color: #32d6ce;
  display: inline-block;
}

#guia-sobre .topico {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*************************************************************************************/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /******************************
   HEADER
   ******************************/

   /****** NAVBAR ******/

  .header-height {
    height: 500px;
  }
  .bg-image img {
    width: 120%;
    height: auto;
    min-height: 500px;
  }
  .navbar-default {
    background-color: rgba(0,0,0,0);
  }

  .bg-black {
    background-color: black;
  }

  /****** HERO HEADER ******/

  .bg-image {
    top: 0;
  }
  .hero-sub {
    width: 400px;
  }
  .hero-text .input-group {
    width: 380px;
  }

  /****** CATEGORIAS ******/

  .show-mobile {
    display: none;
  }

  .show-desktop {
    display: block;
  }

  .principal {
    width: 90%;
    margin: auto;
  }
  .lista-categorias {
    text-align: center;
    padding: 0;
    max-width: 880px;
  }

  .lista-categorias li {
    display: inline-block;
    padding: 5px 1% 0 1%;
    margin-left: -4px;
    border-bottom: solid rgba(170, 170, 170, 0.4) 1px;
    margin-bottom: 5px;
  }

  .lista-categorias li:hover {
    border-bottom: solid red 2px;
  }

  .lista-categorias .ui-state-active {
    border-bottom: solid red 2px;
  }
  .lista-categorias .ui-state-active>a {
    color: red;
    font-weight: 600;
  }
  .lista-categorias li>a {
    color: #95a5a6;
  }
  .lista-categorias li:hover>a {
    color: red;
    text-decoration: none;
  }
  .lista-categorias li:checked>a, .lista-categorias li:active>a, .lista-categorias li:default >a {
    text-decoration: none;
  }
  .lista-categorias {
    width: 85%;
    margin: auto;
  }

  /****** CURSOS ******/
  .cursos img, .cursos h5 {
    width: 200px;
  }

  .curso {
    height: 230px;
    margin-bottom: 0;
  }

  /****** MODAL ******/

  .modal-dialog {
    width: 750px;
  }
  .modal-dialog .video-img {
    width: 460px;
  }

  #guias .lista-categorias {
    text-align: left;
    font-size: 16px;
  }

  #guias .lista-categorias li {
    border-left: none;
  }
  #guias .lista-categorias li:hover {
    border-left: none;
  }

  #guias .lista-categorias .ui-state-active {
    border-left: none;
  }
  .aula {
    margin-left: 0;
  }
 }

 /*************************************************************************************/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /****** CATEGORIAS ******/
  .principal{
    width: 86%;
  }
  .lista-categorias {
    width: 100%;
  }
  .lista-categorias li {
    padding: 5px 1% 0 1%;
  }
}

/*************************************************************************************/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .bg-image img {
    width: 100%;
  }
  .principal{
    width: 75%;
  }

 }
