<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h2>Criando fontes estilo Retro</h2>
        <div class="row">
          <div class="col-sm-8">
            <img src="img/fake/fontes-retro.jpg" alt="fontes-retro" class="video-img">
            <div class="info">
              <span>João Ferreira</span>
              <div class="estatisticas">
                <i class="fa fa-eye" aria-hidden="true"></i> 432
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 92%
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="unidade">
              <span class="titulo"><b>Unidade 1</b></span>
              <div class="aulas">
                <div class="aula"><i class="fa fa-check checked" aria-hidden="true"></i>1 - Introdução - 2:50</div>
                <div class="aula">2 - Sobre Logos - 6:50</div>
              </div>
            </div>
          </div>
        </div>


        <div id="guias">
          <ul class="lista-categorias">
            <li><a href="#guia-comentarios">Comentários</a></li>
            <li><a href="#guia-sobre">Sobre o Curso</a></li>
            <li><a href="#guia-trabalhos">Trabalhos</a></li>
            <li><a href="#compartilhar">Compartilhar</a></li>
          </ul>
          <div id="guia-comentarios" class="row">
            <div class="col-sm-8">
              <div class="comentario">
                <div class="usuario">
                  Paulo Ricardo
                </div>
                <div class="texto">
                  Muito Bacana o curso. O professor tem ótima didática
                </div>
              </div>
              <div class="comentario">
                <div class="usuario">
                  Pedro
                </div>
                <div class="texto">
                  Comentar
                </div>
              </div>
            </div>
          </div>
          <div id="guia-sobre" class="row">
            <div class="col-sm-8">
              <div class="topico">
                <b>Descrição:</b> Neste curso vou lhe ensinar a criar letras...
              </div>
              <div class="topico">
                <b>Para quem é voltado este curso:</b> O curso é voltado para pessoas que já possue experiência com...
              </div>
              <div class="topico">
                <b>Nivel:</b> Intermediário
              </div>
              <div class="topico">
                <b>Possui certificado:</b> Sim
              </div>
            </div>
          </div>

          <div id="compartilhar"></div>

          <div id="guia-trabalhos">
            <img src="img/fake/projetos-premie.jpg" alt="projetos premie">
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
