<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wise Tutors | O que você quer aprender hoje?</title>
    <link rel="shortcut icon" type="image/png" href="img/logo/favicon.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="header-height">
      <%- include('navbar'); %>


      <div class="hero-text">
        <h2>O que você quer aprender hoje?</h2>
        <div class="hero-sub"><p>Nossa comunidade reune milhares de cursos sobre os mais diversos temas</p></div>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
          <input type="text" class="form-control" placeholder="Busque por tema, professor ou curso">
        </div><!-- /input-group -->
      </div>

      <div class="bg-image">
        <img src="img/pagina-inicial/bg.png" alt="imagem de fundo">
      </div>

    </header>
    <div class="container">
      <section class="principal" id="tabs">
        <div class="categorias">
          <h3>Pesquise por Categorias</h3>
          <button type="button" class="show-mobile btn btn-warning btn-block collapsed category-button" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="false">Escolha uma categoria <span class="caret"></span></button>
          <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="lista-categorias">
              <li><a href="#tabs-1" data-toggle="collapse" data-target="#navbar-collapse-2">Todas</a></li>
              <li><a href="#tabs-2" data-toggle="collapse" data-target="#navbar-collapse-2">Design</a></li>
              <li><a href="#tabs-3" data-toggle="collapse" data-target="#navbar-collapse-2">Fotografia</a></li>
              <li><a href="#tabs-4" data-toggle="collapse" data-target="#navbar-collapse-2">Arte</a></li>
              <li><a href="#tabs-5" data-toggle="collapse" data-target="#navbar-collapse-2">Filme</a></li>
              <li><a href="#tabs-6" data-toggle="collapse" data-target="#navbar-collapse-2">Tecnologia</a></li>
              <li><a href="#tabs-7" data-toggle="collapse" data-target="#navbar-collapse-2">Moda</a></li>
              <li><a href="#tabs-8" data-toggle="collapse" data-target="#navbar-collapse-2">Música</a></li>
              <li><a href="#tabs-9" data-toggle="collapse" data-target="#navbar-collapse-2">Culinária</a></li>
              <li><a href="#tabs-10" data-toggle="collapse" data-target="#navbar-collapse-2">Escrita</a></li>
              <li><a href="#tabs-11" data-toggle="collapse" data-target="#navbar-collapse-2">Lifestyle</a></li>
              <li><a href="#tabs-12" data-toggle="collapse" data-target="#navbar-collapse-2">Jogos</a></li>
              <li><a href="#tabs-13" data-toggle="collapse" data-target="#navbar-collapse-2">Negócios</a></li>
            </ul>
          </div>
        </div>
        <div class="cursos row" id="tabs-1">
          <div class="col-sm-4 curso">
            <a href="#" data-toggle="modal" data-target="#curso-modal"><img src="img/fake/fontes-retro.jpg" alt="fontes-retro"></a>
            <div>
              <a href="#" data-toggle="modal" data-target="#curso-modal"><h5>Criando fontes estilo Retro</h5></a>
              <p><img src="img/users/user-1001-small.jpg" alt="foto do instrutor" class="instrutor-img">João Ferreira</p>
              <span class="font-small"><i class="fa fa-eye" aria-hidden="true"></i> 432 </span>
              <span class="font-small"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 92%</span>
            </div>
          </div>
          <div class="col-sm-4 curso">
            <img src="img/fake/projetos-premie.jpg" alt="projetos-premie">
            <h5>Criando apresentações e projetos no premie</h5>
            <p><img src="img/users/user-1001-small.jpg" alt="foto do instrutor" class="instrutor-img">João Ferreira</p>
            <span class="font-small"><i class="fa fa-eye" aria-hidden="true"></i> 432 </span>
            <span class="font-small"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 92%</span>
          </div>
          <div class="col-sm-4 curso">
            <img src="img/fake/projetos-premie.jpg" alt="projetos-premie">
            <h5>Criando fontes estilo Retro</h5>
            <p><img src="img/users/user-1001-small.jpg" alt="foto do instrutor" class="instrutor-img">João Ferreira</p>
            <span class="font-small"><i class="fa fa-eye" aria-hidden="true"></i> 432 </span>
            <span class="font-small"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 92%</span>
          </div>
          <div class="col-sm-4 curso">
            <img src="img/fake/projetos-premie.jpg" alt="projetos-premie">
            <h5>Criando fontes estilo Retro</h5>
            <p><img src="img/users/user-1001-small.jpg" alt="foto do instrutor" class="instrutor-img">João Ferreira</p>
            <span class="font-small"><i class="fa fa-eye" aria-hidden="true"></i> 432 </span>
            <span class="font-small"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 92%</span>
          </div>
          <div class="col-sm-4 curso">
            <img src="img/fake/projetos-premie.jpg" alt="projetos-premie">
            <h5>Criando fontes estilo Retro</h5>
            <p><img src="img/users/user-1001-small.jpg" alt="foto do instrutor" class="instrutor-img">João Ferreira</p>
            <span class="font-small"><i class="fa fa-eye" aria-hidden="true"></i> 432 </span>
            <span class="font-small"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 92%</span>
          </div>
          <div class="col-sm-4 curso">
            <img src="img/fake/projetos-premie.jpg" alt="projetos-premie">
            <h5>Criando fontes estilo Retro</h5>
            <p><img src="img/users/user-1001-small.jpg" alt="foto do instrutor" class="instrutor-img">João Ferreira</p>
            <span class="font-small"><i class="fa fa-eye" aria-hidden="true"></i> 432 </span>
            <span class="font-small"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 92%</span>
          </div>
        </div>
        <div id="tabs-2">Aqui ficarão mais cursos</div>
        <div id="tabs-3">Aqui ficarão mais cursos</div>
        <div id="tabs-4">Aqui ficarão mais cursos</div>
        <div id="tabs-5">Aqui ficarão mais cursos</div>
        <div id="tabs-6">Aqui ficarão mais cursos</div>
        <div id="tabs-7">Aqui ficarão mais cursos</div>
        <div id="tabs-8">Aqui ficarão mais cursos</div>
        <div id="tabs-9">Aqui ficarão mais cursos</div>
        <div id="tabs-10">Aqui ficarão mais cursos</div>
        <div id="tabs-11">Aqui ficarão mais cursos</div>
        <div id="tabs-12">Aqui ficarão mais cursos</div>
        <div id="tabs-13">Aqui ficarão mais cursos</div>
      </section>
    </div>

    <!-- Modal -->
    <%- include('curso-modal'); %>
    <%- include('login-modal'); %>


    <footer>
      <div style="height: 300px;">

      </div>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function() {
        $("#tabs").tabs();
      } );
      $(function() {
        $("#guias").tabs();
      } );
    </script>
  </body>
</html>
