<div class="modal fade" id="login-modal" role="dialog">
  <div class="modal-dialog modal-dialog--small-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
      Fazer login com Facebook

      ou

      <input type="text" name="login" placeholder="Email">
      <input type="password" placeholder="Senha">

      </div>
    </div>

  </div>
</div>
