<nav class="navbar navbar-default navbar-fixed-side-left">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/">
        <h1><img src="img/logo/logo-transparente.png" alt="WiseTutors"></h1>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/wiser">Enviar curso</a></li>
        <li><a href="#">
          <i class="fa fa-bell-o badge-icon" aria-hidden="true"></i><span class="badge">5</span>
        </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rodrigo <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/painel">Meus Cursos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/painel">Cursos inscritos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/config">Configurações</a></li>
            <li role="separator" class="divider"></li>
            <li class="premium-button"><a href="/premium">Assinar Premium</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
