<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Premium | Wise Tutors</title>
    <link rel="shortcut icon" type="image/png" href="img/logo/favicon.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/black-header.css">
    <link rel="stylesheet" href="css/premium.css">
  </head>
  <body>
    <header>
      <%- include('black-navbar'); %>
    </header>

    <div class="container">
      <section class="tornar-premium">
        <h1 class="titulo-pagina">Torne-se um membro premium</h1>

        <div class="orange-box row">
          <div class="left col-sm-6 borda-direita-laranja">
            <h3 class="titulo">Mensal</h3>
            <h2 class="preco">R$49,90/mês</h2>
            <div class="descricao">Cancele a qualquer momento</div>
            <a href="#"><div class="x-btn btn-gray">Assinar</div></a>
          </div>

          <div class="right col-sm-6">
            <h3 class="titulo titulo-margin-top">Anual</h3>
            <h2 class="preco">R$29,90/mês</h2>
            <div class="descricao">Economize R$ 240,00</div>
            <a href="#"><div class="x-btn btn-green">Assinar</div></a>
          </div>
        </div>
        <h2 class="porque-premium">Porque se tornar Premium?</h2>
        <div class="row text-center super-margin">
          <div class="col-sm-4">
            <div class="feature">
              <h3>Certificado</h3>
              <div class="descricao">Obtenha um certificado após completar o curso</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <h3>Cursos exclusivos</h3>
              <div class="descricao">Tenha acesso ilimitado aos cursos premium</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <h3>Programa:<br> Adote um aluno</h3>
              <div class="descricao">Ao aderir ao pacote anual você possibilita que um aluno de baixa renda tenha acesso gratuíto ao WiseTutors</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <h3>Descontos</h3>
              <div class="descricao">Obtenha descontos nas diversas empresas conveniadas</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <h3>Suporte aos Wisers</h3>
              <div class="descricao">Ao assinar o pacote premium você está colaborando para o reconhecimento dos Wisers e mostrando que valoriza seus conteúdos</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature">
              <h3>Sem propagandas</h3>
              <div class="descricao">Assista suas aulas sem interrupções</div>
            </div>
          </div>
        </div>
      </section>
      <section class="duvidas-frequentes">
        <p><b>Dúvidas Frequentes:</b></p>
        <p>Como eu cancelo meu plano premium?</p>
        <p>Como funcionam os descontos?</p>
        <p>Como funciona o programa "Adote um aluno"?</p>
      </section>
    </div>
    <footer style="height: 60px;"></footer>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
